.slide {
  background-image: url('../images/testimonial-6.png');
  background-position: 50% -30px;
  background-size: cover;
}

.slider {
  height: 70vh;
}

.heading {
  display: inline-block;
  margin-top: 85px;
  margin-right: 483px;
  margin-left: 2px;
  padding: 12px;
  background-color: rgba(254, 184, 29, .39);
  font-family: Lato, sans-serif;
  color: #fff;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 2px;
}

.arrow {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  border-style: none;
  border-color: #fff;
}

.slide-2 {
  background-image: url('./images/testimonial-3.png');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-3 {
  background-image: url('./images/testimonial-5.png');
  background-position: 50% 0px;
  background-size: cover;
}

.slide-4 {
  background-image: url('./images/testimonial-4.png');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-5 {
  background-image: url('./images/testimonial-2.png');
  background-position: 50% 50%;
  background-size: cover;
}

.div-block {
  height: 70vh;
  background-color: rgba(0, 0, 0, .41);
}

.div-block-2 {
  width: 800px;
}
